body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  /* place-content: center; */
  flex-grow: 1;
  grid-template-columns: .2fr 1fr .2fr;
}

#formulario {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.filtrar {
  display: none; 
}

header {
  background-color: darkslategrey;
  padding: 1px;
}

header p {
  color: aliceblue;
  text-align: center;
  font-size: 1.8rem;
}

nav {
  background-color: chartreuse;
  padding: 5px;
}

nav a {
  padding-left: 5%;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

nav a:first-child {
  margin-left: 24%;
}

nav a:last-child {
  color: mediumblue;
}
.productos {
  display: flex;
  flex-direction: column;
}

.container__productos {
  list-style: none;
  overflow-y: auto;
  text-align: center;
  display: flex;
  gap: 20px;
  /* place-content: center; */
  height: 73vh;
  flex-direction: column;
  align-items: center;
}

.card__producto {
  background-color: darkgrey;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  height: fit-content;
  box-sizing: border-box;

}

.btn {
  background-color: #59caa8;
  padding: 5px 20px;
  border-radius: 10px;
}

.btn_agregar {
  background-color: chartreuse;
  padding: 5px 20px;
  border-radius: 15px;
  
}

.btn_eliminar {
  background-color: #59caa8;
  padding: 5px 20px;
  border-radius: 15px;
}

.barra_busqueda {
  padding: 6px 40px;
  margin-top: 2%;
  margin-left: 35%;
}

.container input {
  padding: 6px 40px;
}

footer {
  background-color: darkslategrey;
  padding: 5px;
}

footer p {
  margin-left: 15%;
  font-size: 20px;
  color: aliceblue;
  margin-bottom: -3%;
}

footer p span { 
  display: block;
}

footer img {
  margin-left: 65%;
  margin-top: -5%;
}